git+https://github.com/desihub/desiutil@1.9.3#egg=desiutil
setuptools
numpy
scipy
# use sklearn for rapid prototyping but remove this dependency later
sklearn
# matplotlib only required to use desietc.plots so not really a package
# dependency but I don't know how else to ensure that travis installs it.
matplotlib
